<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<div class="container">
<th:block th:include="fragments/header :: header"></th:block>
<h1>Добавление учебных материалов</h1>
<form role = "form" action="#" th:action="@{/educationalProgram}" th:object="${eduProgram}" method="post">
    <div class="form-group">
    <p>Name: <input type="text" class="form-control" th:field="*{name}" /></p>
    <p>Description: <input type="text" class="form-control" th:field="*{description}" /></p>
    <p><input type="submit" class="btn btn-default" value="Submit" />
        <input type="reset" class="btn btn-default" value="Reset" /></p>
</div>
</form>
    <h3>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>

    <tbody>
    <tr th:each="eduProgram : ${eduPrograms}">
        <div class="">
            <td th:text="${eduProgram.getName()}"> </td>

       </div>
            <td> <p th:text="${eduProgram.getDescription()}"></p></td>

    </tr>
    </tbody>
    </table>
    </h3>
    </div>
</body>
</html>